.nav_btn {
    -fx-background-color:#444;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-alignment: center;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER;
    -fx-background-radius:10;
    -fx-pref-width:150px;
    -fx-pref-height:40px;
}

.left_pane {
    -fx-background-color: rgba(63, 73, 241, 0.2);
    -fx-pref-width:150px;
    -fx-pref-height:600px;
}

.bottom_pane {
    -fx-background-color: rgba(63, 73, 241, 0.2);
}
.profile_pic{
    -fx-stroke: #dedddc;
    -fx-stroke-width: 2;
}